@font-face {
    font-family: corma;
    src: url('./fonts/corma.ttf');
}

@font-face {
    font-family: miles;
    src: url('./fonts/miles.otf');
}

body {
    margin: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #00ffff #131313;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.25rem;
}

*::-webkit-scrollbar-track {
    background: #131313;
}

*::-webkit-scrollbar-thumb {
    background-color: #00ffff;
    border-radius: 5px;
    border: 0px none #ffffff;
}